@font-face {
    font-family: 'Roboto Regular';
    src: url("../source/fonts/RobotoRegular.woff") format("woff"), url("../source/fonts/RobotoRegular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url("../source/fonts/RobotoLight.woff") format("woff"), url("../source/fonts/RobotoLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("../source/fonts/RobotoMedium.woff") format("woff"), url("../source/fonts/RobotoMedium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Light';
    src: url("../source/fonts/OpenSansLight.woff") format("woff"), url("../source/fonts/OpenSansLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/******************************
********** general ************
******************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.3;
    color: #000000;
    font-family: 'Roboto Light', sans-serif;
}
ul li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

a, button, input[type="submit"], input[type="cancel"], input[type="reset"] {
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}
textarea, textarea:hover, textarea:active, textarea:focus {
    outline: none;
    border: none;
}
textarea {
    resize: none;
}

.wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

h1 {
    font-weight: 100;
}
h2 {
    font-size: 17px;
    margin-bottom: 20px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.form-field::-webkit-input-placeholder {font-family: 'Roboto Light', sans-serif; opacity: 1; color: #000000;}
.form-field::-moz-placeholder {font-family: 'Roboto Light', sans-serif; opacity: 1; color: #000000;}
.form-field:-moz-placeholder {font-family: 'Roboto Light', sans-serif; opacity: 1; color: #000000;}
.form-field:-ms-input-placeholder {font-family: 'Roboto Light', sans-serif; opacity: 1; color: #000000;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

/***********************
******* header *********
***********************/

header[role='banner'] {
    border-bottom: 1px solid #ececec;
}
header[role='banner'] .wrapper {
    padding: 15px 50px 15px 20px;
}
.logo, nav, .header-contacts {
    display: inline-block;
    vertical-align: middle;
}
.logo {
    width: 53px;
    height: 18px;
    background: transparent url('../source/images/sprite-logo.png') no-repeat center top;
    position: relative;
    margin-right: 40px;
}
.logo:hover {
    background-position: center -18px;
}
.logo:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    background-color: #ececec;
    position: absolute;
    top: 0;
    right: -20px;
}

nav ul li {
    margin-right: 30px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a, .callback, .header-contacts a {
    font-size: 13px;
    font-family: 'Roboto Regular', sans-serif;
}
nav ul li a {
    position: relative;
    line-height: 18px;
}
nav ul li a:hover {
    text-decoration: none;
}
nav ul li a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: -21px;
    left: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
nav ul li a.active:after {
    width: 100%;
}
.header-contacts {
    float: right;
}
.callback {
    background-color: transparent;
    margin-right: 20px;
    padding: 5px 10px;
    border: 1px solid transparent;
}
.callback:hover {
    border: 1px solid #000000;
}
.callback:active, .callback:focus {
    border: 1px solid #fb1042;
    color: #fb1042;
}
.burger {
    display: none;
}

/***********************
***** employees ********
***********************/

.typed-cursor{
    opacity: 0;
    display: none;
}
.slider-employees {
    width: 50%;
    float: left;
}
.slider-employees .slick-dots li {
    margin-right: 5px;
}
.slider-employees .slick-dots li:last-child {
    margin-right: 0;
}
.slider-employees .slick-dots li button {
    color: transparent;
    font-size: 0;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
}
.slider-employees .slick-dots li.slick-active button {
    background-color: #000000;
}
.slider-employees .slick-dots li button:hover {
    background-color: #ececec;
}
.slide-employee {
    padding-top: 30px;
}
.slide-employee, .slide-employee:active {
    outline: none;
}
.employee-hello {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
}
.employee-info {
    margin: 25px 0;
}
.marks-info {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.employees-photos {
    width: 45%;
    float: right;
}
.employees-photos li {
    display: block;
    width: 33.33333%;
    float: left;
    cursor: pointer;
    position: relative;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border: 1px solid transparent;
}
.employees-photos li.visible, .marks-info.visible {
    opacity: 1;
}

.employees-photos img {
    display: block;
    position: relative;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    z-index: 1;
}
.employees-photos li:hover {
    border: 1px solid #539b28;
}
.employees-photos li.active {
    border: 1px solid #008000;
}

/***********************
****** services ********
***********************/

.services ul {
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    text-align: justify;
}
.services ul li a {
    display: inline-block;
    font-family: 'Roboto Regular', sans-serif;
    padding-left: 80px;
    position: relative;
    font-size: 20px;
    line-height: 35px;
}
.services ul li a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 35px;
    background: #f0671c url('../source/images/arrow-right.png') no-repeat center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.services ul li:nth-child(2) a:before {
    background-color: #539b2f;
}
.services ul li:nth-child(3) a:before {
    background-color: #3c7095;
}
.services ul li a:hover:before {
    left: 20px;
}


/***********************
****** partners ********
***********************/

.partners ul {
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    text-align: justify;
}
.partners ul li img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.partners ul li:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}



/***********************
****** projects ********
***********************/

.projects {
    background-color: #000000;
    overflow: hidden;
}
.projects .tagline {
    width: 30%;
    float: left;
    font-size: 18px;
    color: #ffffff;
}
.to-presentation {
    display: block;
    max-width: 160px;
    border: 2px solid #ffffff;
    padding: 10px 10px 70px 10px;
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.to-presentation:after {
    content: '';
    display: block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: #539b2f url('../source/images/arrow-right.png') no-repeat center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.to-presentation:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}
.to-presentation:hover:after {
    background-color: #f0671c;
}
.slider-projects {
    display: block;
    width: 60%;
    float: right;
}
.slider-projects p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}
.projects-control div {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    background-color: #919191;
    padding: 3px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.projects-control div.active {
    background-color: #ffffff;
}
.to-portfolio {
    float: right;
    color: #ffffff;
    font-size: 18px;
    text-decoration: underline;
}
.to-portfolio:hover {
    text-decoration: none;
}
.slider-projects ul {
    display: block;
    position: relative;
    height: 275px;
    width: 100%;
    margin-bottom: 20px;
}
.slider-projects ul li {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 2500px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.slider-projects ul li>div {
    background-color: #ffffff;
    padding: 10px 5px;
}
.slider-projects ul li.active {
    left: 0;
}
.slider-projects .controls {
    float: right;
}
.slider-projects .slider-control {
    display: inline-block;
    width: 58px;
    height: 14px;
    margin: 20px 0 0 15px;
    background: transparent url('../source/images/sprite-slider-controls.png') no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.slide-developing, .slide-seo {
    display: block;
    margin: 0 5px;
    overflow: hidden;
}
.slide-developing img, .slide-seo img {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}
.slide-developing:hover img, .slide-seo:hover img {
    -webkit-transform: translate(10px, 10px) scale(1.2);
    -moz-transform: translate(10px, 10px) scale(1.2);
    -ms-transform: translate(10px, 10px) scale(1.2);
    -o-transform: translate(10px, 10px) scale(1.2);
    transform: translate(10px, 10px) scale(1.2);
}
.slider-projects .slider-control-left {
    background-position: -58px center;
}
.slider-projects .slider-control-left:hover {
    background-position: left center;
}
.slider-projects .slider-control-right {
    background-position: right center;
}
.slider-projects .slider-control-right:hover {
    background-position: -116px center;
}
/***********************
***** promo block ******
***********************/

.promo-block {
    text-align: right;
    padding: 50px 0;
}
.what-you-get, .what-you-need, .unlike-other {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 25px 25px;
}
.what-you-need {
    margin: 0 25px 0 15px;
}
.what-you-get .title, .what-you-need .title {
    font-size: 25px;
    margin-bottom: 30px;
}
.what-you-need .title {
    color: #b83030;
}
.what-you-get .text, .what-you-need .text {
    font-size: 20px;
    position: relative;
}
.what-you-get .text span {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 8px;
    background: url('../source/images/arrow-black.png');
    position: absolute;
    right: -45px;
    top: 10px;
}
.unlike-other {
    width: 50%;
    background: linear-gradient(to right, #dbf3d5, #f3f8c7);
    padding: 5px 0 5px 5px;
}
.unlike-other-inner {
    background: #ffffff;
    padding: 20px 25px;
}
.unlike-other .title {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
}
.unlike-other .text {
    display: inline-block;
    max-width: 500px;
    font-size: 17px;
}

/***********************
**** video-reviews *****
***********************/

.video-reviews .review {
    display: block;
    width: 23.5%;
    margin-right: 2%;
    float: left;
}
.video-reviews .review:last-child {
    margin-right: 0;
}
.video-reviews .review img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/***********************
**** all-services ******
***********************/

.all-services {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.all-services ul li {
    display: block;
    width: 18.8%;
    margin-right: 1.5%;
    float: left;
    position: relative;
    border: 4px solid #ebebeb;
    height: auto;
}
.all-services ul li:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #9fe7c8;
    position: absolute;
    top: -4px;
    left: -4px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.all-services ul li:last-child {
    margin-right: 0;
}
.all-services ul li a {
    display: block;
    min-height: 120px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    font-size: 22px;
    text-decoration: underline;
    padding: 15px;
}
.all-services ul li:hover a {
    text-decoration: none;
}
.all-services ul li:hover:before {
    width: 0;
    height: 0;
}

/***********************
**** get-in-touch ******
***********************/

.get-in-touch .wrapper>.title {
    display: block;
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}
.get-in-touch .text {

    text-align: center;
    margin: 5px 0 15px;
}
.get-in-touch form {
    display: block;
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
}
.get-in-touch form:after {
    content: '';
    display: block;
    clear: both;
}
.get-in-touch .short-fields {
     display: block;
     float: left;
     border: none;
 }
.get-in-touch .form-field-wrap {
    display: block;
    width: 240px;
    height: 50px;
    margin: 0 10px 10px 0;
}
.get-in-touch .form-field {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #dbf3d5, #f3f8c7);
    padding: 0 10px;
    border: 1px solid transparent;
}
.get-in-touch .form-field:focus {
    border: 1px solid #539b28;
}
.get-in-touch .form-textarea-wrap {
    float: left;
    width: 480px;
    height: 170px;
}
.get-in-touch .form-textarea {
    padding: 18px 10px;
}
.get-in-touch .file-download {
    display: block;
    width: 170px;
    height: 170px;
    float: right;
    border: 5px solid #ebebeb;
    text-align: center;
    padding: 10px;
    background: transparent url('../source/images/icon-file-download.png') no-repeat center 80%;
    background-size: 50%;
    cursor: pointer;
    overflow: hidden;
}
.get-in-touch .file-download input {
    opacity: 0;
}
.get-in-touch .file-download .file-name {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.get-in-touch .file-download .file-type {
    color: #8b8b8b;
}
.get-in-touch .submit-block {
    display: block;
    width: 100%;
    padding-top: 10px;
    border: none;
}
.get-in-touch .submit-block p {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
}
.get-in-touch .submit-block p span {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}
.get-in-touch input[type='submit'] {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 50px;
    background-color: #000000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 20px;
    margin-left: 28px;
}

/***********************
******* footer *********
***********************/
footer[role='contentinfo'] {
    background-color: #000000;
}
footer[role='contentinfo'] .wrapper {
    padding: 15px 50px 15px 20px;
}
footer[role='contentinfo'] .logo {
    background-position: center bottom;
}
footer[role='contentinfo'] .logo:hover {
    background-position: center -18px;
}
footer[role='contentinfo'] .logo:after {
    display: none;
}
.footer-contact {
    display: inline-block;
}
.footer-contact .title, .vacancies .title, .footer-contact span {
    display: inline-block;
    color: #ffffff;
}
.footer-contact a, .vacancies a {
    color: #c1ffae;
}
.vacancies {
    float: right;
}
.vacancies a {
    text-decoration: underline;
}
.vacancies a:hover {
    text-decoration: none;
}

/***********************
**** media queries *****
***********************/

@media (max-width: 1260px) {

    .wrapper {
        padding: 40px 25px;
    }
    header[role='banner'] .wrapper {
        padding: 15px 25px 15px 20px;
    }
    .employee-hello {
        font-size: 20px;
    }
    .services ul li {
        display: block;
        width: 100%;
        max-width: 380px;
        margin: 0 auto 40px;
    }
    .services ul li:last-child {
        margin-bottom: 0;
    }
    .unlike-other {
        width: 100%;
    }
    .promo-block {
        text-align: center;
    }
    .unlike-other .title, .unlike-other .text {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .all-services ul li a {
        font-size: 18px;
        min-height: 100px;
    }
    footer[role='contentinfo'] {
        text-align: center;
    }
    .vacancies {
        display: block;
        float: none;
        margin-top: 10px;
    }
}
@media (max-width: 980px) {

    .logo {float: none}
    nav, nav ul li, .header-contacts .callback, .header-contacts a {
        display: block;
        text-align: right;
        margin: 0;
        padding: 0 0 0 0;
        float: none;
    }
    nav, .header-contacts, .logo:after {
        display: none;
    }
    nav ul li {
        margin-top: 5px;
    }
    nav ul li:first-child {
        margin-top: 15px;
    }
    .header-contacts .callback {
        margin-top: 20px;
    }
    .header-contacts a {
        margin-top: 5px;
    }
    .burger {
        display: block;
        width: 23px;
        height: 18px;
        position: absolute;
        right: 25px;
        top: 15px;
        float: right;
        background: transparent url('../source/images/sprite-burger.png') left center;
        cursor: pointer;
    }
    .burger.active {
        background-position: right center;
    }
    .slider-employees, .employees-photos {
        display: block;
        float: none;
        width: 100%;
        max-width: 600px;
        margin: 0 auto 20px;
    }
    .partners ul li {
        max-width: 30%;
    }
    .partners ul li:nth-child(4), .partners ul li:nth-child(5), .partners ul li:nth-child(6) {
        display: none;
    }
    .video-reviews .review {
        width: 47.5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .video-reviews .review:nth-child(2n) {
        margin-right: 0;
    }
    .projects .tagline, .slider-projects {
        width: 100%;
        float: none;
        margin: 20px 0;
    }
    .slider-projects .controls {
        float: left;
    }
    .slider-projects ul {
        width: 430px;
        margin: 0 auto;
        height: 1320px;
    }
    .to-portfolio {
        float: none;
        position: absolute;
        bottom: 40px;
        right: 25px;
        z-index: 10;
    }
    .to-presentation {
        display: none;
    }
    .what-you-get, .what-you-need {
        display: block;
        width: 100%;
        max-width: 360px;
        margin: 10px auto;
        padding: 15px;
    }
    .unlike-other .title, .unlike-other .text {
        max-width: 360px;
        margin: 0 auto;
    }
    .unlike-other {
        padding: 5px;
    }
    .what-you-get .text span {
        display: none;
    }
    .all-services ul li {
        width: 47.5%;
        margin: 0 5% 5% 0;
    }
    .all-services ul li:nth-child(2n) {
        margin: 0 0 5% 0;
    }
    .all-services ul li a {
        font-size: 16px;
        min-height: 80px;
        padding: 5px;
    }
    .get-in-touch .wrapper>.title {
        font-size: 24px;
    }
    .get-in-touch .wrapper>p, .get-in-touch .wrapper>.title, .get-in-touch .short-fields,
    .get-in-touch .form-textarea-wrap, .get-in-touch .file-download, .get-in-touch .submit-block {
        display: block;
        text-align: left;
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        float: none;
    }
    .get-in-touch .form-field-wrap {
        width: 100%;
    }
    .get-in-touch .file-download {
        height: auto;
        max-width: 360px;
        background-position: 95% center;
        background-size: auto 70%;
    }
    .get-in-touch .file-download span {
        display: block;
    }
    .get-in-touch input[type='submit'] {
        margin: 20px 0 0 0;
    }
    footer[role='contentinfo'] .logo {
        margin: 10px 0 20px;
    }
    .footer-contact span {
        display: none;
    }
    .footer-contact a {
        float: right;
    }
    .footer-contact, .vacancies {
        display: block;
        width: 100%;
        max-width: 360px;
        margin: 5px auto;
        text-align: left;
    }
    .vacancies {
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {

    .wrapper {
        padding: 20px 10px;
    }
    .slider-projects ul {
        width: 300px;
        margin: 0 auto;
        height: 920px;
    }
    .slider-projects .slider-control {
        display: inline-block;
        width: 40px;
        height: 12px;
        background-size: cover;
        margin: 20px 0 0 10px;
        position: relative;
        z-index: 10;
    }
    .to-portfolio {
        bottom: 30px;
        right: 10px;
    }
    .slider-projects .slider-control-left {
        background-position: 30.8% center;
    }
    .slider-projects .slider-control-left:hover {
        background-position: left center;
    }
    .slider-projects .slider-control-right {
        background-position: right center;
    }
    .slider-projects .slider-control-right:hover {
        background-position: 68.6% center;
    }

}



/***********************
******* header *********
***********************/
